<!DOCTYPE html>
<html>
  <head>
    <title>中華料理ジェネレーター</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light text-center p-5">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>